ul.nav {
    list-style-type: none;
}
ul.nav li a{
    text-decoration: none;
}
.crop{
    float: left;
    text-align: center
}
.prepend_one_and_half{
    padding-left:30px;
}
.crop_box {
    width: 130px;
    height: 130px;
}
h4.crop_label{
    width: 130px;
    text-align: center;
}
th {
    text-align: center
}
td {
    text-align: center
}
th.text-left{
    text-align: left;
}

.quality-selected{
    color: red;
}
