<h2>abstract</h2>
<p class="prepend-top">
    Cloud image processing is often proposed as a solution to the limited computing
    power and battery life of mobile devices: it allows complex algorithms to run on
    powerful servers with virtually unlimited energy supply.  Unfortunately, this is
    overlooking the time and energy cost of uploading the input and downloading the
    output images. When transfer overhead is accounted for, processing images on a
    remote server becomes less attractive and many applications but the most
    computationally intensive do not benefit from  the cloud. We aim to change this
    in the case of image enhancements that preserve the overall content of an image.
    Our key insight is that, in this case, the server can compute and transmit a
    description of the {\em transformation} from input to output, which we call a
    {\em transform recipe}. At equivalent quality, our recipes are much more compact
    than JPEG images: this reduces the client's download. Furthermore, we compute
    the recipe parameters from highly compressed inputs which significantly reduces
    data uploaded to the server.  The client reconstructs a high-fidelity
    approximation of the output by applying the recipe to its local high-quality
    input. We demonstrate our results on \nimages images spanning \napplications
    image processing applications, showing that our recipes form a compact
    representation for a diverse set of image enhancements. With an equivalent
    transmission budget, they provide higher-quality results than jpeg-compressed
    input and output images. We further demonstrate the usefulness of recipes in a
    practical system we use to profile energy consumption and latency for both local
    and cloud computation.
</p>
