<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
            <link rel="stylesheet" href="static/summary/css/screen.css" />
            <link rel="stylesheet" href="static/summary/css/typography.css" />
            <link rel="stylesheet" href="static/summary/css/summary.css" />
            <script type="text/javascript" src="static/summary/js/jquery.js"></script>
        {% endblock head %}
        <title>
            {% block title %}
            {% endblock title %}
        </title>
    </head>

    <body>
        {% block scripts %}
        {% endblock scripts %}
        <div class="container">
            <ul class="nav span-24">
                <li>
                    {% block nav %}
                    {% endblock nav %}
                </li>
            </ul>

            {% block content %}
            {% endblock content %}
        </div>
    </body>
</html>
