{% extends "base.html" %}
{% block head %}
    <link rel="stylesheet" href="../static/summary/css/screen.css" />
    <link rel="stylesheet" href="../static/summary/css/typography.css" />
    <link rel="stylesheet" href="../static/summary/css/summary.css" />
    <script type="text/javascript" src="../static/summary/js/jquery.js"></script>
{% endblock head %}

{% block title %}
    xform | {{category.name}}
{% endblock title %}

{% block nav %}
    <a href="../index.html">home</a>
    <a href="../results.html">results</a>
{% endblock nav %}

{% block content %}
<div class ="span-24 last">
    <h1>
        Results | {{category.name}}
    </h1>
    <div class="prepend-1 span-22 prepend-top">
        {% include "quality.html" %}
        <p>
            <b>Click</b> on a link to see the detailed report for a given image.
        </p>
    </div>

    <table class="prepend-1 span-22 prepend-top">
        <tr>
            <th class = " text-left span-4"></th>
            <th colspan="3">Low Quality</th>
            <th colspan="3">Medium Quality</th>
            <th colspan="3">High Quality</th>
        </tr>
        <tr>
            <th class = "span-4">image</th>
            <th>%</th>
            <th>psnr</th>
            <th>ssim</th>
            <th>%</th>
            <th>psnr</th>
            <th>ssim</th>
            <th>%</th>
            <th>psnr</th>
            <th>ssim</th>
        </tr>
        {% for r in results %}
        <tr>
            <td>
                <a href="{{category.name | lower}}/{{r.name}}.html">
                    {{r.name}}
                </a>
            </td>
            <td>
                {{"%.2f%%" % (100*r.comp[0])}}
            </td>
            <td>
                {{"%.1fdB" % r.psnr[0]}}
            </td>
            <td>
                {{"%.2f" % r.ssim[0]}}
            </td>
            <td>
                {{"%.2f%%" % (100*r.comp[1])}}
            </td>
            <td>
                {{"%.1fdB" % r.psnr[1]}}
            </td>
            <td>
                {{"%.2f" % r.ssim[1]}}
            </td>
            <td>
                {{"%.2f%%" % (100*r.comp[2])}}
            </td>
            <td>
                {{"%.1fdB" % r.psnr[2]}}
            </td>
            <td>
                {{"%.2f" % r.ssim[2]}}
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock content %}
