{% extends "base.html" %}

{% block head %}
        <link rel="stylesheet" href="../../static/summary/css/screen.css" />
        <link rel="stylesheet" href="../../static/summary/css/typography.css" />
        <link rel="stylesheet" href="../../static/summary/css/summary.css" />
        <link rel="stylesheet" href="../../static/summary/css/magnifier.css" />
        <script type="text/javascript" src="../../static/summary/js/jquery.js"></script>
{% endblock head %}

{% block nav %}
    <a href="../../index.html">home</a>
    <a href="../../results.html">results</a>
    <a href="../{{c.name | lower}}.html">{{c.name | lower }}</a>
{% endblock nav %}

{% block title %}
            xform | {{c.name | lower}} | {{low.name}}
{% endblock title %}

{%block scripts %}
    {% include "load_js.html" %}
{%endblock scripts %}

{% block content %}
    <div class ="span-24 last">
        <h1>
            results | {{c.name}} | {{low.name}}
        </h1>
    </div>

    {% include "side_by_side.html" %}
    {% include "flip.html" %}
    {% include "metrics.html" %}

    <div class="prepend-1">
        {% include "quality.html" %}
    </div>

    <script type="text/javascript" src="../../static/summary/js/Event.js"></script>
    <script type="text/javascript" src="../../static/summary/js/MghMagnifier.js"></script>
    <script type="text/javascript" src="../../static/summary/js/result_flip_viewer.js"></script>
    <script type="text/javascript" src="../../static/summary/js/set_quality.js"></script>
{% endblock content %}

