<h2>about this document</h2>
<p class="prepend-top">
    In this supplemental document, we present our results on {{n_imgs}} images
    spanning {{n_cats}} different image processing applications. We summarize
    the performances per application and per image with three different quality
    settings of our method. We evaluate our results using three metrics: psnr,
    ssim, and the ratio of data sent upstream and downstream during the
    interaction between the client and the server. This amount of data is
    expressed as a fraction of the full uncompressed 8bits/channel bitmap data.
</p>
<p>
    This webpage should allow you to explore different settings of 
    transform recipes and the visual quality of our reconstruction.
</p>
