<div class="span-23 prepend-1 prepend-top">
<h2>flip comparison</h2>
<p class="span-22">
<b>Hover</b> over the navigation links to flip between the ground truth output of the filter and our reconstruction. You can zoom in the browser using ctrl+'+' (cmd+'+' on mac)
</p>
<div class="span-24">
     <div class="span-24">
    </div>
    <ul class="nav prepend-4">
        <li>
            hover over the links: 
            <a href="" id="flip_in">input</a>
            |
            <a href="" id="flip_in_degraded">degraded input</a>
            |
            <a href="" id="flip_jpg">degraded output</a>
            |
            <a href="" id="flip_ours">our reconstruction</a>
            |
            <a href="" id="flip_ref">ground truth output</a>
        </li>
    </ul>
    <ul class="nav span-16 prepend-8 prepend-top">
        <li>
            <a href="" class="low_quality">low quality</a>
            |
            <a href="" class="medium_quality">medium quality</a>
            |
            <a href="" class="high_quality">high quality</a>
        </li>
    </ul>
    <h4 id="alternate_title">
    </h4>
    <img id="flip" style="width: 860px" src="">
</div>
</div>
