{% extends "base.html" %}
{% block title %}
    xform | home
{% endblock title %}

{% block nav %}
    <a href="index.html">home</a>
    <a href="results.html">results</a>
{% endblock nav %}

{% block content %}
    <h1>Making Cloud Photo Applications Worthwhile with Compact Transform Recipes</h1>
    <div class ="span-16 prepend-2 prepend-top last">
        {% include "abstract.html" %}
        {% include "description.html" %}
        <h2>results</h2>
        <p class="prepend-top">
            The complete list of results can be found here:
            <a href="results.html">
                results
            </a>
        </p>
    </div>
{% endblock content %}
