<div class='prepend-1 prepend-top span-23 last'>
    <div class="span-10">
        <h3>input image</h3>
        <img id="input_ref" style="width: 390px" src="">
    </div>
    <div class="span-10 prepend-1">
        <h3>metrics</h3>
        <ul class="nav">
            <li>
                <a href="" class="low_quality">low quality</a>
                |
                <a href="" class="medium_quality">medium quality</a>
                |
                <a href="" class="high_quality">high quality</a>
            </li>
        </ul>
        <table>
            <tr>
                <th></th>
                <th>psnr</th>
                <th>ssim</th>
                <th>data ratio* (upload)</th>
                <th>data ratio* (download)</th>
            </tr>
            <tr>
                <td>
                    ours
                </td>
                <td class="psnr">
                </td>
                <td class="ssim">
                </td>
                <td class="data_up">
                </td>
                <td class="data_down">
                </td>
                <td>
                </td>
            </tr>
            <tr>
                <td>
                    jpeg
                </td>
                <td class="psnr_jpg">
                </td>
                <td class="ssim_jpg">
                </td>
                <td class="data_up_jpg">
                </td>
                <td class="data_down_jpg">
                </td>
                <td>
                </td>
            </tr>
        </table>
        <p>
            (*) the data ratio is expressed as a fraction of the uncompressed 8bits/channel bitamp data
        </p>
        <h3>links to full resolution images</h3>
        <p>Below are the links to the full resolution images. The linked image depends on the quality setting set above</p>
        <table>
            <tr>
                <td>
                    <a id="link_input" href=''>
                        input 
                    </a>
                </td>
                <td>
                    reference input
                </td>
            </tr>
            <tr>
                <td>
                    <a id="link_reference_output" href=''>
                        ground truth output
                    </a>
                </td>
                <td>
                    result from processing the reference input
                </td>
            </tr>
            <tr>
                <td>
                    <a id="link_degraded_input" href=''>
                        degraded input 
                    </a>
                </td>
                <td>
                    sent to the server for processing
                </td>
            </tr>
            <tr>
                <td>
                    <a id="link_recipe" href=''>
                        our reconstruction
                    </a>
                </td>
                <td>
                    our approximation of the ground truth image built from recipes fitted on the degrade input/output pair
                </td>
            </tr>
            <tr>
                <td>
                    <a id="link_jpeg" href=''>
                        jpeg with same compression
                    </a>
                </td>
                <td>
                    result using jpeg for upstream and downstream transfers, with a compression factor matching our recipes approach
                </td>
            </tr>
        </table>
    </div>
</div>
