<p>
    The quality designation refers to the degradation applied to the input
    image before sending it to the server (upload): 
</p>
<ul>
    <li>
        Low Quality: 8x8 downsampling, and JPEG compression with Q=80. The data rate is on average 0.1% of an uncompressed bitmap.
    </li>
    <li>
        Medium Quality: 4x4 downsampling, and JPEG compression with Q=50. The data rate is on average 0.5% of an uncompressed bitmap.
    </li>
    <li>
        High Quality: 2x2 downsampling, and JPEG compression with Q=30. The data rate is on average 1% of an uncompressed bitmap.
    </li>
</ul>
<p>
    We aimed for a comparable compression ratio for the recipe (download). We measure the reconstruction fidelity using the PSNR and SSIM indices (higher is better).
</p>
