<tr>
    <td>
        <a href="results/{{c.name | lower}}.html">
            {{c.name}}
        </a>
    </td>
    <td>
        {{"%d" % (metrics[3][cat_loop.index0,0])}}
    </td>
    <td>
        {{"%.2f%%" % (100*metrics[0][cat_loop.index0,0])}}
    </td>
    <td>
        {{"%.1fdB" % metrics[1][cat_loop.index0,0]}}
    </td>
    <td>
        {{"%.2f" % metrics[2][cat_loop.index0,0]}}
    </td>

    <td>
        {{"%.2f%%" % (100*metrics[0][cat_loop.index0,1])}}
    </td>
    <td>
        {{"%.1fdB" % metrics[1][cat_loop.index0,1]}}
    </td>
    <td>
        {{"%.2f" % metrics[2][cat_loop.index0,1]}}
    </td>

    <td>
        {{"%.2f%%" % (100*metrics[0][cat_loop.index0,2])}}
    </td>
    <td>
        {{"%.1fdB" % metrics[1][cat_loop.index0,2]}}
    </td>
    <td>
        {{"%.2f" % metrics[2][cat_loop.index0,2]}}
    </td>
</tr>
