{% extends "base.html" %}

{% block title %}
    xform | results
{% endblock title %}

{% block nav %}
    <a href="index.html">home</a>
    <a href="results.html">results</a>
{% endblock nav %}

{% block content %}
<div class ="span-24 last">
    <h1> Results </h1>
    <div class="prepend-1 span-22 prepend-top">
        {% include "quality.html" %}
        <p>
            <b>Click</b> on a link to see the detailed list of processed images.
        </p>
    </div>

    <table class="prepend-1 span-22 prepend-top">
        <tr>
            <th class = " text-left span-4"></th>
            <th></th>
            <th colspan="3">Low Quality</th>
            <th colspan="3">Medium Quality</th>
            <th colspan="3">High Quality</th>
        </tr>
        <tr>
            <th class = "span-4">category</th>
            <th>#</th>
            <th>%</th>
            <th>psnr</th>
            <th>ssim</th>
            <th>%</th>
            <th>psnr</th>
            <th>ssim</th>
            <th>%</th>
            <th>psnr</th>
            <th>ssim</th>
        </tr>
        {% for c in category %}
            {% set cat_loop = loop %}
            {% include "results_category.html" %}
        {% endfor %}
    </table>
{% endblock content %}
