<div class="prepend-1 span-23 last" >
    <h2>side by side comparison</h2>
    <p><b>Hover</b> over the image to view a detail crop of the region of interest. Use the <b>mouse wheel</b> to zoom in and out</p>
    <p class="span-21 last">
    From left to right, we show crops from: (<b>input</b>) the full quality input the client
    wishes to process, (<b>degraded input</b>) the degraded version of the input sent to the server, (<b>degraded output</b>) the
    degraded output the server produces from the degraded input (that would traditionally be the result sent back to the client), (<b>our reconstruction</b>) the client's
    reconstruction using the recipe received from the server, (<b>ground truth output</b>) the ground truth
    output of the filter computed from the full quality input (what we seek to match).
    Our recipes are estimated from the degraded input/output pair.
    </p>
    <div class="span-24 last">
        <div class="span-10">
            <h4>ground truth output of the filter</h4>
            <div class="magnifier-thumb-wrapper">
                <img id="output_thumb" style="width: 390px" src="../../images/input/{{c.name}}/{{low.name}}/unprocessed.jpg">
            </div>
        </div>
        <div class="span-10 prepend-1">
            <h4>our reconstruction using transform recipes</h4>
            <div class="magnifier-thumb-wrapper">
                <img id="reconstruct_thumb" style="width: 390px" src="">
            </div>
        </div>
    </div>
    <ul class="nav span-16 prepend-8 prepend-top">
        <li>
            <a href="" class="low_quality">low quality</a>
            |
            <a href="" class="medium_quality">medium quality</a>
            |
            <a href="" class="high_quality">high quality</a>
        </li>
    </ul>
    <div class="span-22 prepend_one_and_half">
        <div class="span-4">
            <div class="magnifier-preview crop_box" id="input"></div>
            <h4 class="crop_label prepend-top">input</h4>
        </div>
        <div class="span-4">
            <div class="magnifier-preview crop_box" id="degraded_input"></div>
            <h4 class="crop_label prepend-top">degraded input</h4>
        </div>
        <div class="span-4">
            <div class="magnifier-preview crop_box" id="jpeg" style="width: 130px; height: 130px"></div>
            <h4 class="crop_label prepend-top">degraded output</h4>
            <table>
                <tr>
                    <td>psnr</td>
                    <td class="psnr_jpg">
                    </td>
                </tr>
                <tr>
                    <td>ssim</td>
                    <td class="ssim_jpg">
                    </td>
                </tr>
                <tr>
                    <td>data ratio*</td>
                    <td class="data_down_jpg">
                    </td>
                </tr>
            </table>
        </div>
        <div class="span-4">
            <div class="magnifier-preview crop_box" id="ours" style="width: 130px; height: 130px"></div>
            <h4 class="crop_label prepend-top">our reconstruction</h4>
            <table>
                <tr>
                    <td>psnr</td>
                    <td class="psnr">
                    </td>
                </tr>
                <tr>
                    <td>ssim</td>
                    <td class="ssim">
                    </td>
                </tr>
                <tr>
                    <td>data ratio*</td>
                    <td class="data_down">
                    </td>
                </tr>
            </table>
        </div>
        <div class="span-4">
            <div class="magnifier-preview crop_box" id="output" style="width: 130px; height: 130px"></div>
            <h4 class="crop_label prepend-top">ground truth output</h4>
        </div>
        <p class="span-24">
            (*) the data ratio is expressed as a fraction of the uncompressed 8bits/channel bitamp data
        </p>
    </div>
</div>
