<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
<link rel="stylesheet" href="{% static "summary/css/screen.css"%}" />
<link rel="stylesheet" href="{% static "summary/css/typography.css"%}" />
<link rel="stylesheet" href="{% static "summary/css/summary.css"%}" />

<script type="text/javascript" src="{% static "summary/js/jquery.js"%}"></script>

<title>{% block title %}My amazing site{% endblock %}</title>
</head>

<body>
    <div class="container">
        <ul class="nav span-24">
            <li>
            <a href="{% url 'index' %}">index list</a>
            </li>
        </ul>
        {% block content %}{% endblock %}
    </div>
</body>
</html>
