{% extends "summary/base.html"%}
{% block title %}
{{experiment.id}} | {{category.name}}
{% endblock %}

{% load paramsview %}
{%  block content %}
<div class ="span-24 last">
    <h1> 
        <a href="{% url 'experiment_summary' experiment.id%}">{{experiment.id}}</a>
        | {{category.name}}
    </h1>

    <table>
        <tr>
            <th>name</th>
            <th>PSNR</th>
            <th>SSIM</th>
            <th>input compression</th>
            <th>output compression</th>
            <th>error</th>
        </tr>
    {% for r in results %}
        <tr>
            <td>
                <a href="{% url 'result' r.id %}">
                {{r.name}}
                </a>
            </td>
            <td>
                {{r.psnr | p_psnr}}
            </td>
            <td>
                {{r.ssim | p_ssim}}
            </td>
            <td>
                {{r.compression_up | p_compression}}
            </td>
            <td>
                {{r.compression_down | p_compression}}
            </td>
            <td>
                {{r.error}}
            </td>
        </tr>
    {% endfor %}
    </table>
</div>
{% endblock %}
