{% extends "summary/base.html"%}

{% block title %}
        Experiment {{experiment.id}}
{% endblock %}

{% load paramsview %}

{%  block content %}

<h1 class="span-24 last">
    <a href="{%url "index"%}">
    Experiment 
    </a>
    {{experiment.formatName}}
</h1>
<div class ="span-16 first">
    {%if experiment.git_commit%}
        <a href="{{git_repo}}{{experiment.git_commit}}">commit #: {{experiment.git_commit}}</a>
    {%else%}
        no linked commit
    {%endif%}
    <p>
    <strong>Notes: </strong>{{experiment.description}}
    </p>

</div>
{% if experiment.parameters %}
<div class ="span-8 last">
    <table>
        <tr>
            <th>transform model</th>
            <td>{{experiment.parameters.transform_model}}</td>
        </tr>
        <tr>
            <th>overlap patches </th>
            <td>{{experiment.parameters.use_patch_overlap}}</td>
        </tr>
        <tr>
            <th>lowpass ratio</th>
            <td>{{experiment.parameters.use_ratio_of_residuals}}</td>
        </tr>
        <tr>
            <th>use multiscale</th>
            <td>{{experiment.parameters.use_multiscale_feat}}</td>
        </tr>
        <tr>
            <th>ms levels</th>
            <td>{{experiment.parameters.ms_levels}}</td>
        </tr>
        <tr>
            <th>use curve</th>
            <td>{{experiment.parameters.use_tonecurve_feat}}</td>
        </tr>
        <tr>
            <th>curve bins</th>
            <td>{{experiment.parameters.luma_bands}}</td>
        </tr>
        <tr>
            <th>window size</th>
            <td>{{experiment.parameters.wSize | p_winsize}}</td>
        </tr>
        <tr>
            <th>epsilon</th>
            <td>{{experiment.parameters.epsilon}}</td>
        </tr>
        <tr>
            <th>input downsampling</th>
            <td>{{experiment.parameters.in_downsampling}}</td>
        </tr>
        <tr>
            <th>input jpeg quality</th>
            <td>{{experiment.parameters.in_quality}}</td>
        </tr>
        <tr>
            <th>upsample</th>
            <td>{{experiment.parameters.upsample}}</td>
        </tr>
        <tr>
            <th>add noise</th>
            <td>{{experiment.parameters.add_noise}}</td>
        </tr>
        <tr>
            <th>use stack</th>
            <td>{{experiment.parameters.use_stack}}</td>
         <tr>
            <th>input transfer</th>
            <td>{{experiment.parameters.transfer_multiscale}}</td>
        </tr>
        </tr>
    </table>
</div>
{% endif %}

<hr>

<div class ="span-24 last">
<table>
    <tr>
        <th>dataset</th>
        <th>#</th>
        <th>avg. PSNR* (min)</th>
        <th>avg. SSIM* (min)</th>
        <th>avg. input compression</th>
        <th>avg. compression</th>
        <th>errors</th>
    </tr>
    {% for c in category_data %}
    <tr>
        <td>
            {% if c.category_id %}
            <a href="{%url 'category_summary' experiment.id c.category_id%}">
                    {{c.name}}
            </a>
            {% else %}
                {{ c.name }}
            {% endif %}
        </td>
        <td>{{c.count}}</td>
        <td>
            {{c.psnr | p_psnr}}
            {% if c.minPSNR_id > 0%}
            (<a href="{% url 'result' c.minPSNR_id %}">
            {{c.minPSNR| p_psnr}}
            </a>)
            {% else %}
            (N/A)
            {% endif %}
        </td>
        <td>
            {{c.ssim | p_ssim}}
            {% if c.minSSIM_id > 0%}
            (<a href="{% url 'result' c.minSSIM_id %}">
            {{c.minSSIM| p_ssim}}
            </a>)
            {% else %}
            (N/A)
            {% endif %}
        </td>
        <td>{{c.compression_up| p_compression }}</td>
        <td>{{c.compression_down| p_compression }}</td>
        <td>{{c.errors }}</td>
    </tr>
    {% endfor %}
</table>
</div>
<div class ="span-24 last">
    <ul>
        <li>(*) higher is better</li>
    </ul>
</div>

{% endblock %}
