{% extends "summary/base.html"%}

{% block title %}
Experiments
{% endblock %}

{% load paramsview %}

{%  block content %}
<div class ="span-24 last">
    <h1>Transform Compression</h1>
    <h3>
        Experiments
    </h3>
    {% if debug %}
    <a href="{% url 'delete_all' %}">Delete all</a>
    {% endif %}
    <table>
        <tr>
            <th class = "span-4">name</th>
            <th>description</th>
            <th>#</th>
            <th>psnr</th>
            <th>ssim</th>
            <th>up</th>
            <th>down</th>
            <th> </th>
        </tr>
    {% for e in experiments %}
        <tr>
            <td>
                <a href="{% url 'experiment_summary' e.id%}">
                    {{e.formatName}}
                </a>
            </td>
            <td>
                 {{e.description}}
            </td>
            <td>
                 {{e.summary.count}}
            </td>
            <td>
                 {{e.summary.psnr | p_psnr}}
            </td>
            <td>
                 {{e.summary.ssim | p_ssim}}
            </td>
            <td>
                 {{e.summary.compression_up | p_compression}}
            </td>
            <td>
                 {{e.summary.compression_down | p_compression}}
            </td>
            {% if debug %}
            <td>
                <a href="{% url 'delete' e.id %}">delete</a>
            </td>
            {% endif %}
        </tr>
    {% endfor %}
    </table>
</div>
{% endblock %}
