{% extends "summary/base.html"%}
{% load staticfiles %}
{% block title %}
{{result.id}}
{% endblock %}

{% load paramsview %}
{% load path_helpers %}
{% block content %}
<div class ="span-24 last">
<h1>
    <a href="{% url 'category_summary' result.experiment.id result.category.id%}">{{result.category.name}}</a>
    | {{result.name}}
</h1>
    <table class="span-8 first">
        <tr>
            <th>PSNR</th>
            <td>{{result.psnr | p_psnr}}</td>
            <td></td>
        </tr>
        <tr>
            <th>SSIM</th>
            <td>{{result.ssim | p_ssim}}</td>
            <td></td>
        </tr>
        <tr>
            <th>input compression</th>
            <td>{{result.compression_up | p_compression }}</td>
            <td></td>
        </tr>
        <tr>
            <th>output compression</th>
            <td>{{result.compression_down | p_compression }}</td>
            <td></td>
        </tr>
        <tr>
            <th>computation time</th>
            <td>{{result.computation_time | p_time }}</td>
            <td></td>
        </tr>
        <tr>
            <th>max error</th>
            <td>({{result.max_error_x}},{{result.max_error_y}})</td>
            <td></td>
        </tr>
    </table>
    <div class = "prepend-2 span-14 last">
        <p>
            Mouse over the second image to compare the reconstructed result to the
            reference processed image.
        </p>
    </div>

    <hr>

    <div class= "span-24 last">
        <h6>unprocessed image</h6>
        <img id="result_unprocessed" src="{{ result.dataPath | unprocessed_path}}" 
            height="{{result.height}}"
            width="{{result.width}}"/>
    </div>
    <div class= "span-24 last">
        <h6 id="alternate_title">reconstructed</h6>
        <img id="result_processed" src="{{result.outputPath | processed_path}}"
            height="{{result.height}}"
            width="{{result.width}}"/>
    </div>
</div>
<script type="text/javascript">
    processedPath = "{{result.dataPath | processed_path}}";
    reconstructedPath = "{{result.outputPath | reconstructed_path}}";
</script>
<script type="text/javascript" src="{% static "summary/js/result_viewer.js"%}"></script>
{% endblock %}

